:root {
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--color-2);
  background-color: var(--color-1);
  font-family: var(--font-principal);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-1: #fceb36;
  --color-2: #1f1f1f;
  --color-3: #4bd25b;
  --color-4: #fff7d6;
  --color-5: #cc3e58;
  --font-principal: "Rajdhani", sans-serif;

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    #app {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
      h1 {
        font-size: 3rem;
        letter-spacing: 0.2rem;
        line-height: 1.1;
        font-weight: 400;
        color: var(--color-5);
        @media screen and (max-width: 500px) {
          max-width: 80vw;
          margin: auto;
        }
        .w-600 {
          font-weight: 600;
        }
        .col-2 {
          color: var(--color-2);
        }
      }
      p {
        color: var(--color-2);
        font-family: 400;
        font-size: 1.2rem;
        @media screen and (max-width: 500px) {
          max-width: 80vw;
          padding: 2%;
        }
      }

      .logo {
        height: 20em;
        padding: 1.5em;
        @media screen and (max-width: 500px) {
          padding: 1%;
          max-height: 15em;
        }
      }
      .button-box {
        text-align: center;
        display: grid;
        flex-direction: column;
        justify-items: center;
        gap: 1vh;
        .button {
          width: 35vw;
          color: var(--color-2);
          background-color: var(--color-3);
          padding: 0.6rem 1rem;
          border-radius: 5px;
          letter-spacing: 0.1em;
          text-decoration: inherit;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
